.sidenav-container {

  /*sidebarın yüksekliği contentin yüksekliğini örtüyor*/
  height: 1000px;

}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: #eee;

}

.sidenav {
  padding: 10px;
  width: 15%;
  background: rgb(238,238,238);
background: linear-gradient(90deg, rgba(238,238,238,1) 0%, rgba(0,69,255,0.5803571428571428) 100%);
  border: 5px solid #eee;
  border-radius: 10px;
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;

}
