.sidenav-container {
  width: 98%;
  height: 300px;
  margin-left: 1%;
}

.sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.sidenav {
  padding: 10px;
  width: 15%;
  background-color: rgb(218, 229, 247);
  border-color: rgb(250, 252, 254);

}
