<mat-drawer-container class="inside-container">
    <div class="container">
        <div style="margin-top: 10px;">

            <mat-form-field class="input-width" style="margin-bottom: 15px;">
                <mat-label>Kullanıcının e-posta adresi</mat-label>
                <input matInput placeholder="ornek@deneme.com" >
              </mat-form-field>

            <h3>Kullanıcı Yetkileri</h3>
        <div class="row" >
            burdaki bilgiler list operation claim ile gelicek eğer input var ise kullanıya göre getirme endpointi yazılmalı
            <mat-slide-toggle style="margin-bottom: 5px;">Admin</mat-slide-toggle>
        </div>
        </div>
        <button mat-raised-button color="primary" style="margin-left: 880px;">Kaydet</button>
    </div>
</mat-drawer-container>

