<div class="container">
  <div id="carouselExampleIndicators" class="carousel carousel-dark slide border border-dark" data-bs-ride="true">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button *ngFor="let campaign of campaigns; index as i" type="button" data-bs-target="#carouselExampleIndicators" [attr.data-bs-slide-to]="i+1" [attr.aria-label]="'Slide'+i+1"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../../../assets/istockphoto-1252414324-612x612.jpg" class="d-block w-100" alt="...">
      </div>
      <div *ngFor="let campaign of campaigns">
        <div class="carousel-item" *ngIf="campaign.image?.path">
          <a routerLink="/campaign/{{campaign.id}}"><img src="{{baseUrl?.url}}/{{campaign.image?.path}}" class="d-block w-100" alt="..." ></a>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>
