<nav class="navbar navbar-expand-lg bg-body-tertiary gradient-custom" >
  <div class="container-fluid" >
    <a class="navbar-brand mb-0 h1" href="#"style="color: white;">MobilyaAPI</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href=""style="color: white;">Anasayfa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/products"style="color: white;">Ürünler</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false"style="color: white;">
            Kategoriler
          </a>
          <ul class="dropdown-menu">
            <div *ngFor="let category of categories">
              <li><a class="dropdown-item" href="/products/{{category.id}}">{{category.name}}</a></li>
            <li><hr class="dropdown-divider"></li>
            </div>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/about"style="color: white;">Hakkımızda</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/contact"style="color: white;">İletişim</a>
        </li>
      </ul>
      <div style="margin-right: 50px;">
      <div *ngIf="!isAuth; else accountDropdown">
        <a routerLink="/login" style="margin-right: 10px;"><button class="btn btn-success">Giriş Yap</button></a>
        <a routerLink="/register" style="margin-right: 10px;"><button class="btn btn-warning">Üye Ol</button></a>
      </div>
      <ng-template #accountDropdown >
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            Hesabım
          </button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/basket/{{userId}}">Sepet <span class="badge text-bg-success">{{itemCount}}</span></a></li>
            <li><a class="dropdown-item" routerLink="/order/{{userId}}">Siparişlerim</a></li>
            <li><a class="dropdown-item" routerLink="/profile/{{userId}}">Profil Ayarları</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="" (click)="logOut()">Çıkış Yap</a></li>
          </ul>
        </div>
      </ng-template>
    </div>
    </div>
  </div>

