<h1 mat-dialog-title>Kampanyayı Güncelle</h1>
<form [formGroup]="campaignForm">
  <div mat-dialog-content>
    <mat-form-field appearance="fill">
      <mat-label>Kampanya Adı</mat-label>
      <input formControlName="name" matInput placeholder="">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Kampanya Açıklaması</mat-label>
      <input formControlName="description" matInput placeholder="">
    </mat-form-field>
  </div>
</form>
<app-file-control [fileUploadOptions]="fileUploadOptions" [fileDeployOptions]="fileDeployOptions" (dataEmitter)="getFileData($event)"></app-file-control>
<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="warn" mat-dialog-close>Kapat</button>
  <button mat-raised-button color="primary" (click)="updateCampaign()">Güncelle</button>
</div>
