<div>
  <footer class="bg-secondary text-center text-white">
    <!-- Grid container -->
    <div class="container p-4 pb-0">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="../../../../../assets/5282541_fb_social media_facebook_facebook logo_social network_icon.png" style="width: 20px;"></a>

        <!-- Twitter -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="../../../../../assets/5282551_tweet_twitter_twitter logo_icon.png" style="width: 20px;"></a>

        <!-- Google -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="../../../../../assets/843776_google_icon.png" style="width: 20px;"></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="../../../../../assets/5282544_camera_instagram_social media_social network_instagram logo_icon.png" style="width: 20px;"></a>

        <!-- Linkedin -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="../../../../../assets/5282542_linkedin_network_social network_linkedin logo_icon.png" style="width: 20px;"></a>

        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"
          ><img src="../../../../../assets/8546919_github_square_icon.png" style="width: 20px;"></a>
      </section>
      <!-- Section: Social media -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2023 Copyright:
      <a class="text-white" href="#">Bıdıbıdı.com</a>
    </div>
    <!-- Copyright -->
  </footer>
</div>
