<!-- <mat-drawer-container class="sidenav-container" autosize>
  <mat-drawer #drawer class="sidenav" mode="side" opened>



  </mat-drawer>

  <div class="sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      Toggle sidenav
    </button>
  </div>

</mat-drawer-container> -->



<mat-nav-list style="margin-top: 15px;">
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="/admin">Ana Sayfa</button>
  <br>
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="products">Ürünler</button>
  <br>
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="categories">Kategoriler</button>
  <br>
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="campaigns">Kampanyalar</button>
  <br>
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="orders">Siparişler</button>
  <br>
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="users">Kullanıcılar</button>
  <br>
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="auth">Yetkilendirme</button>
  <br>
  <button class="sidenav-item" mat-flat-button color="primary" routerLink="" (click)="logOut()">Çıkış</button>
</mat-nav-list>
