.productsCard{
  margin: 2px;
  display: inline-block;
}
.cardPosition{
  width: 20rem;
  height: 25rem;
  margin-bottom: 15px;
}

.w-100 {
  width: 100% !important;
  height: 25vh;
}

.sideCard{
  width: 13rem;
}

