<mat-drawer-container class="inside-container container">
  <h2 style="margin-top: 20px;">Tamamlanmamış Siparişler</h2>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Sipariş No
        </mat-panel-title>
        <mat-panel-description>
          Kullanıcı Adı {{panelOpenState ? 'open' : 'closed'}}
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>I'm visible because I am open</p>
    </mat-expansion-panel>
  </mat-accordion>


</mat-drawer-container>
