.mat-mdc-form-field + .mat-mdc-form-field {
  margin-left: 8px;
}

.inside-container {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 98%;
  height: 100%;
  border: 2px solid rgb(197, 221, 245);
}
